<h1>Login</h1>
<p style="color: green"><b><%= notice %></b></p>
<% form_tag :action => 'send_login' do %>

<p>Username:<br />
	<%= text_field(:username, :username)%></p>
	
	<p>Password:<br />
		<%= password_field(:username, :password)%></p>

 <input type="submit" value=" LOGIN " />
<% end -%>