body {margin:0; padding:0; line-height: 1.4em; word-spacing:1px; letter-spacing:0.2px; font: 13px Arial, Helvetica,"Lucida Grande", serif; color: #000; width:20%;}

.page{
	width:50%;
}

.hidden{
	display:none;
}

table 
{
  border: solid 1px #000000;
  border-collapse: collapse;
  width:400px;
}

table td 
{
  padding: 5px;   
  border: solid 1px #000000;
}

table th
{
  padding: 6px 5px;
  text-align: left;
  background-color: grey; 
  border: solid 1px #000000;   
}
.word-wrap-column
{
	word-wrap: break-word;
	max-width: 200px;
}
