<div class="page">
	<div id="header">
		<h1>Login</h1>
		</div>
<div id="main">

<h1>Listing users</h1>

<table>
  <tr>
    <th>User name</th>
    <th>Password</th>
  </tr>

<% @users.each do |user| %>
  <tr>
    <td><%=h user.user_name %></td>
    <td><%=h user.password %></td>
    <td><%= link_to 'Show', user %></td>
    <td><%= link_to 'Edit', edit_user_path(user) %></td>
    <td><%= link_to 'Destroy', user, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New user', new_user_path %>
</div>
</div>