<div class="page">
	<div id="header">
		<h1>Login</h1>
		</div>
<div id="main">

<p>
  <b>User name:</b>
  <%=h @user.user_name %>
</p>

<p>
  <b>Password:</b>
  <%=h @user.password %>
</p>


<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
</div>
</div>