<div class="page">
<div id="header">
<h1 class="hidden">Archive<span style="float:right;font-size:small; padding-right:20px; color:white;"><%= link_to "logout",:controller => "user", :action => "logout" %></span>
	</div></h1>
<div id="main">
	<div class="hidden">		
	<%= link_to '<< Back to Active Case List', :controller => 'casefiles', :action => 'index' %> | <a href="javascript:window.print()">Print</a> | <%= link_to "Legend", legends_path %>
<!--|drop down list| select_tag_for_filter("casefiles", @filters, params) -->
	<hr />
	</div>
	<table width="1014px">
	  <tr>
		<th style="width:60px"><%= sortable "last_name", "Name" %></th>
	    <th style="width:10px"><%= sortable "case_type", "Case Type" %></th> 
	    <th style="width:40px"><%= sortable "attorney", "Staff" %></th>   
	    <th style="width:20px;"><%= sortable "case_status", "Filing Status" %></th>
	    <th><%= sortable "case_actions", "Notes" %></th>
		<th><%= sortable "fee", "Fees" %></th>
	
	    <th style="width:30px"><%= sortable "created_at", "Created" %></th>
	    <th style="width:30px"><%= sortable "updated_at", "Updated" %></th>

		<th colspan="4" style="text-align:center; background-color:grey; color:white; width: 10%" class="hidden">Edit</th>
	  </tr>

  
<% @casefiles.each do |casefile| %>
<% if casefile.active == false  %>
<% row_color = cycle("cccccc", "ffffff")%>
  <tr style="background: #<%= row_color %>; ">

    <td><%=h casefile.last_name %></td>
    <td><%=h casefile.case_type %></td>
    <td><%=h casefile.attorney %></td>
    <td valign="top" class="word-wrap-column" width="80px"><%=h casefile.case_status %></td>
    <td valign="top" class="word-wrap-column" width="300px"><%=h casefile.case_actions %></td>
	<td><%=h casefile.fee %></td>

    <td valign="top"><%=h casefile.created_at.strftime("%A %B %d, %Y - %I:%M") %></td>
    <td valign="top"><%=h casefile.updated_at.strftime("%A %B %d, %Y - %I:%M") %></td>
    <td class="hidden"><%= link_to 'Show', casefile %></td>
    <td class="hidden"><%= link_to 'Edit', edit_casefile_path(casefile) %></td>
    <td class="hidden"><%= link_to 'Delete', casefile, :confirm => 'Are you sure?', :method => :delete %></td>
	<td style="background-color:orange;">
	<%= link_to "Timeline", casefile_timelines_path(:casefile_id => casefile.id) %>
  </tr>
<% end %>
<% end %>
</table>
<br />



</div>
</div>