<div class="page">

<div id="header">
<h1 class="hidden">Law Offices of Marc Grossman Case Manager<span style="float:right;font-size:small; padding-right:20px; color:white;"><%= link_to "logout",:controller => "user", :action => "logout" %></span>
	</div></h1>
<div id="main">
	<div class="hidden">		
	<%= link_to 'Add A New Case', new_casefile_path %> | <a href="javascript:window.print()">Print</a> | <%= link_to "Legend", legends_path %> | <%= link_to "Archive", :action => 'archive' %> | <%= link_to "Timelines", :controller => :timelines, :action => :list %>
<!--|drop down list| select_tag_for_filter("casefiles", @filters, params) -->
	<hr />
	</div>
<table width="1014px">
  <tr>
	<th style="width:60px"><%= sortable "priority", "Priority" %></th>
	<th style="width:60px"><%= sortable "last_name", "Name" %></th>
    <th style="width:10px"><%= sortable "case_type", "Case Type" %></th> 
    <th style="width:40px"><%= sortable "attorney", "Staff" %></th>   
    <th style="width:20px;"><%= sortable "case_status", "Filing Status" %></th>
	<th><%= sortable "fee", "Fees" %></th>
    <th><%= sortable "case_actions", "Notes" %></th>
    <th style="width:30px"><%= sortable "created_at", "Created" %></th>
    <th style="width:30px"><%= sortable "updated_at", "Updated" %></th>
	<th colspan="4" style="text-align:center; background-color:grey; color:white; width: 10%" class="hidden">Edit</th>
  </tr>
<% @casefiles.each do |casefile| %>
<% if casefile.active == true  %>
<!-- priority color changes -->
<% if casefile.priority == "Low"
	priority_color = "green"
elsif casefile.priority == "High"
	priority_color = "red"
elsif casefile.priority == "Medium"
	priority_color = "yellow"
	 %>
	<% end %>

<% row_color = cycle("cccccc", "ffffff")%>
<tr style="background: #<%= row_color %>; ">
	<td style="color: <%=priority_color %>; "><%=h casefile.priority %></td>
 	<td><%=h casefile.last_name %></td>
    <td><%=h casefile.case_type %></td>
    <td><%=h casefile.attorney %></td>
    <td valign="top" class="word-wrap-column" width="80px"><%=h casefile.case_status %></td>
	<td><%=h casefile.fee %></td>

    <td valign="top" class="word-wrap-column" width="300px"><%=h casefile.case_actions %></td>
    <td valign="top"><%=h casefile.created_at.strftime("%A %B %d, %Y - %I:%M") %></td>
    <td valign="top"><%=h casefile.updated_at.strftime("%A %B %d, %Y - %I:%M") %></td>
    <td class="hidden"><%= link_to 'Show', casefile %></td>
    <td class="hidden"><%= link_to 'Edit', edit_casefile_path(casefile) %></td>
    <td class="hidden"><%= link_to 'Delete', casefile, :confirm => 'Are you sure?', :method => :delete %></td>
	<td style="background-color:orange;" class="hidden">
	<%= link_to "Timeline", casefile_timelines_path(:casefile_id => casefile.id) %>
	</td>
  </tr>
<% end %>
<% end %>
</table>
<br />
</div>
</div>
