<div class="page">
<div id="header">	
<h1>New Case File</h1>
</div>

<div id="main">
<% form_for(@casefile) do |f| %>
  <%= f.error_messages %>
 <p>
    Name<br />
    <%= f.text_field :last_name %>
  </p>
  
  <p>
    <%= f.label :case_type %><br />
    <%= f.text_field :case_type %>
  </p>
  <p>
    Staff<br />
    <%= f.text_field :attorney %>
  </p>
<p>
	Fees<br />
	<%= f.select :fee, options_for_select([ "Contingency", "Flat Fee", "Hourly"]), options={:prompt=>"Select A Fee Type"} %>
</p>
  <p>
    Filing Status<br />
    <%= f.text_area :case_status %>
  </p>
  <p>
    Notes<br />
    <%= f.text_area :case_actions %>
  </p>
<p>
	Active?<br />
	<%= f.check_box :active %>
</p>

<!--
  <p>
    <%= f.label :created_at %><br />
    <%= f.datetime_select :created_at %>
  </p>
  <p>
    <%= f.label :updated_at %><br />
    <%= f.datetime_select :updated_at %>
  </p>-->
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

</div>
</div>