<div class="page">
	<div id="header">
		<h1>Case File</h1>
</div>
<div id="main">
	<p style="color: green"><b><%= notice %></b></p>
	
	<p>
	  <b>Name</b>
	  <%=h @casefile.last_name %>
	</p>
<p>
  <b>Case type:</b>
  <%=h @casefile.case_type %>
</p>
<p><b>Archive</b>
	<%= h @casefile.active %>
</p>
<p>
	<b>Fee</b>
	<%=h @casefile.fee  %>
	</p>
	<p>
	<b>Priority</b>
	<%=h @casefile.priority  %>
	</p>
<p>
  <b>Staff:</b>
  <%=h @casefile.attorney %>
</p>
<p class="word-wrap-column" >
  <b>Filing status:</b>
  <%=h @casefile.case_status %>
</p>

<p class="word-wrap-column">
  <b>Notes:</b>
  <%=h @casefile.case_actions %>
</p>

<p>
	
	
<!--  <b>Created at:</b>
  <%=h @casefile.created_at %>
</p>

<p>
  <b>Updated at:</b>
  <%=h @casefile.updated_at %>
</p>
-->

<%= link_to 'Edit', edit_casefile_path(@casefile) %> |
<%= link_to 'Confirm Changes', casefiles_path %>

</div>
</div>