<div class="page">
	<div id="header">
		<h1>Login</h1>
		</div>
<div id="main">
<% if flash[:notice] %>
<div style="font-family:'Trebuchet MS'; color:#FF0000; font-size:14px;">
<%= flash[:notice] %>
</div>
<% end %>

<!--creates form, exectues the authenticate method when the submit button is clicked-->
<fieldset style="width: 250px;"><legend>Login</legend>
<%= form_tag :action=>'authenticate' %>
username:&nbsp;
<%= text_field("userform", "user_name",:size=>"10" ) %><br /><br />
Password:&nbsp;&nbsp;
<%= password_field("userform", "password",:size=>"20" )
%><br /><br />
<input type="submit" value=" LOGIN " /></fieldset>
</div>
</div>