<div class="page">
<div id="header">
<h1>Edit <%= @casefile.last_name %> Case Timeline</h1>
</div>
<div id="main_timeline">

<% form_for ([@casefile, @timeline]) do |f| %>

  <%= f.error_messages %>
<% f.hidden_field :casefile_id %>


  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.label :anticipated_activity %><br />
    <%= f.text_area :anticipated_activity %>
  </p>
  <p>
    <%= f.label :acutal_activity %><br />
    <%= f.text_area :acutal_activity %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

</div>
</div>