<div class="page">
<div id="header">
	<h1>View All Timelines</h1>
</div>
<div id="main_timeline">
 <%= link_to "Back To Casefiles", casefiles_path %> | 


<a href="javascript:window.print()">Print</a>
<hr>
<% @timelines.each do |timeline| %>

<div style="border-style: solid; border-width: 1px; border-color: grey; width:300px; float: left;">

<div>
<table>
	<tr>
		<td>
			<!--This does not work on the production server I need to find out why -->
			<p style="text-align:center"><strong>Case Name: <%= timeline.casefile.last_name %></strong></p>
			<p style="text-align:center">Attorney: <strong><%= timeline.casefile.attorney %></strong></p>
			</td>
			</tr>
<tr>
<th style="width:300px; text-align:center;"><%=h timeline.start_date.try(:strftime, "%B %d") %> - <%=h timeline.end_date.try(:strftime, "%B %d") %></th>
  </tr>
</table>

</div>
<div class="word-wrap-column" style="background-color:#cccccc; height:300px; padding-left: 10px; padding-right: 10px; padding-bottom: 10px; padding-top: 10px;">
<p style="text-align:center; color:red; margin-top:3px;"><strong><u>Anticipated Activity</u></strong>
</p><%=h timeline.anticipated_activity %></div>



<div class="word-wrap-column" style="height:300px; padding-left: 10px; padding-right: 10px; padding-top:5px; padding-bottom: 10px; padding-top: 10px; border-bottom:solid; border-color:grey; border-width: 1px;">
	<p style="text-align:center; color:red; margin-top:3px;"><strong><u>Actual Activity</u></strong></p>

<%=h timeline.acutal_activity %></div>
<% if admin? %>
<div style="text-align:center"><br /> <%= link_to 'Edit', edit_casefile_timeline_path(@casefile, timeline) %> | <%= link_to 'Delete', casefile_timeline_path(@casefile, timeline), :confirm => 'Are you sure', :method => :delete %></div>
<% end %>
<br clear="all" />
</div>
<% end %>
</div>
</div>


