<div class="page">
<div id="header">
<h1>Create New <%= @casefile.last_name %> Case Timeline</h1>
</div>
<div id="main_timeline">

<% form_for :timeline, @timeline, :url => { :action => "create" } do |f| %>
  
<%= f.error_messages %>

  <p>
    <%= f.label :start_date %><br />
    <%= f.datetime_select :start_date %>
  </p>
  <p>
    <%= f.label :end_date %><br />
    <%= f.datetime_select :end_date %>
  </p>
  <p>
    <%= f.label :anticipated_activity %><br />
    <%= f.text_area :anticipated_activity %>
  </p>
  <p>
    <%= f.label :acutal_activity %><br />
    <%= f.text_area :acutal_activity %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>
</div>
</div>