<p>
  <b>Start date:</b>
  <%=h @timeline.start_date %>
</p>

<p>
  <b>End date:</b>
  <%=h @timeline.end_date %>
</p>

<p>
  <b>Anticipated activity:</b>
  <%=h @timeline.anticipated_activity %>
</p>

<p>
  <b>Acutal activity:</b>
  <%=h @timeline.acutal_activity %>
</p>



<%= link_to 'Edit', edit_casefile_timeline_path(@casefile) %> |
<%= link_to 'Back', casefile_timelines_path %>