<div class="page">
	<div id="header">

<h1>Editing legend</h1>
</div>
<div id="main">

<% form_for(@legend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :acronym %><br />
    <%= f.text_field :acronym %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @legend %> |
<%= link_to 'Confirm Changes', legends_path %>
</div>
</div>