<div class="page">
<div id="header">

<h1>Legend</h1>
</div>
<div id="main">
	<%= link_to "<< Back To Case Files", casefiles_path %> | <%= link_to 'Add New', new_legend_path %>
<hr />
<table>
  <tr>
    <th>Word</th>
    <th>Acronym</th>
	<th colspan="3" style="text-align:center; background-color:grey; color:white" class="hidden">Edit</th>
  </tr>

<% @legends.each do |legend| %>
  <tr>
    <td><%=h legend.word %></td>
    <td><%=h legend.acronym %></td>
    <td><%= link_to 'Show', legend %></td>
    <td><%= link_to 'Edit', edit_legend_path(legend) %></td>
    <td><%= link_to 'Delete', legend, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />


</div>
</div>