<div class="page">
<div id="header">

<h1>New legend</h1>
</div>
<div id="main">
<% form_for(@legend) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :word %><br />
    <%= f.text_field :word %>
  </p>
  <p>
    <%= f.label :acronym %><br />
    <%= f.text_field :acronym %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', legends_path %>
</div>
</div>