<div class="page">
<div id="header">
	<h1>Confirm Changes</h1>
</div>
<div id="main">
	<p style="color: green"><%= notice %></p>

<p>
  <b>Word:</b>
  <%=h @legend.word %>
</p>

<p>
  <b>Acronym:</b>
  <%=h @legend.acronym %>
</p>


<%= link_to 'Edit', edit_legend_path(@legend) %> |
<%= link_to 'Confirm Changes', legends_path %>
</div>
</div>