<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
<meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7" />
  <title>Case files: <%= controller.action_name %></title>
  <%= stylesheet_link_tag 'main' %>
  <%= stylesheet_link_tag 'print', :media => "print" %>
<!--[if IE]>
<%= stylesheet_link_tag 'ie' %>
<%= stylesheet_link_tag 'ieprint', :media => "print" %>
<![endif]-->
<META NAME="ROBOTS" CONTENT="NOINDEX, NOFOLLOW">
</head>
<body>

<%= yield %>

</body>
</html>
